<h3><%= @list.name %></h3>
<div><% @list.movies.each do |movie| %>
  <div><% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <h3><%= movie.title %></h3>
  <p><%= movie.overview %></p>
  <p><img src="<%= movie.poster_url %>" alt="<% movie.title %>" class="movie-img rounded-top"></p>
  <p><%= bookmark.comment %></p>
  <p>Average rating: <%= movie.rating %></p>
  <%= link_to 'Delete from this list', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %></div>
<% end %></div>
<div><%= link_to 'Add a movie', new_list_bookmark_path(@list) %></div>
